@font-face {
  font-family: "Zain";
  src:
    local("Zain"),
    url("./fonts/Zain/Zain-Regular.ttf");
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-size: cover;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px);
  overflow: hidden;
  clip-path: inset(0 round 25px);
}

.container2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.open-btn {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  height: 3.25rem;
  width: 17.5rem;
  cursor: pointer;
  transition: 0.5s all;
  font-family: "Zain", sans-serif;
  font-size: larger;
  color: black;
}

.open-btn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 12px black;
}